@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');
*{
    color: #21243D;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
}
.home-btn{
    position: absolute;
    top: 0;
    left: 0;
    padding: 27px 50px;
}
.home-btn img{
    height: 30px;
}
header{
    display: flex;
    justify-content: flex-end;
    color: #000;
    font-size: 20px;
    margin: 27px;
}
nav a{
    margin-right: 33px;
    font-weight: 500;
}
nav a.active{
    color: #FF6464;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.main{
    display: flex;
    flex-direction: column;
}
.main h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 35px;
}
.main h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.main span{
    font-weight: 700;
    background: #FF7C7C;
    border-radius: 16px;
    color: #fff;
    padding: 0 10px;
    margin-right: 20px;
}
.main img{
    height: 460px;
    margin-top: 50px;
}
footer{
    padding: 60px;
}
.socials{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
footer img{
    height: 30px;
    margin: 35px;
    cursor: pointer;
}
footer p{
    display: flex;
    justify-content: center;
    margin-top: 26px;
}